In [41]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
dta=sm.datasets.fair.load_pandas().data

DATA LOAD

In [42]:
dta['affairs']=(dta['affairs']>0).astype(int)

In [43]:
dta.head()

,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb,affairs
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,1
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,1
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,1
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,1

In [44]:
X=dta.iloc[:,:-1]

In [45]:
y=dta['affairs']

TRAIN TEST DATA SPLIT

In [98]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=70)

TRAIN the Model

In [99]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,y_train)
pred=lr.predict(X_test)

CALCULATE THE METRICS(ACCURACY)

In [100]:
from sklearn.metrics import confusion_matrix,classification_report
print(confusion_matrix(y_test,pred))
print(classification_report(y_test,pred))

[[1308  137]
 [ 434  222]]
             precision    recall  f1-score   support

          0       0.75      0.91      0.82      1445
          1       0.62      0.34      0.44       656

avg / total       0.71      0.73      0.70      2101